@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

canvas {
  margin-top: 20px;
  background-color: #f0f0f0;
}
